@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

* {
      margin: 0;
      padding: 0;
      font-family: 'Plus Jakarta Sans';
      border: 0;
}

body {
      background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%) no-repeat;
      max-width: 100vw;
      height: auto;
}

/* MOBILE */

/* HEADER 375px */

header{
      display: flex;
      height: 48px;
      align-items: center;
      justify-content: space-between;
      padding-left: 4.26%;
      padding-right: 4.26%;
      padding-top: 16px;
}

.skilled{
      font-weight: 800;
      font-size: 28px;
      color: #13183F;
}

.get {
      width: 140px;
      height: 48px;
      background: #13183F;
      border-radius: 28px;
      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;
}

.get:hover {
      background: #666CA3;
      cursor: pointer;
}

/* SECTION  - 375px */

.section-one {
      display: flex;
      flex-direction: column;
      margin-left: 4.26%;
      margin-right: 4.26%;
      margin-top: 38px;
}

.info-heading {
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
      color: #13183F;
}

.info-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #83869A;
      margin-top: 26px;
}

.info-btn {
      width: 167px;
      height: 56px;
      background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      border-radius: 31.5px;
      margin-top: 24px;

      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;
}

.info-btn:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      cursor: pointer;
}

.section-one-img {
      width: 253px;
      background: url(./img/image-hero-mobile.png);
      background-size: cover;
      height: 277px;
      margin-top: 70px;
}

/* SECTION TWO - 375 px*/

.section-two {
      display: flex;
      flex-direction: column;
      margin-left: 4.26%;
      margin-right: 4.26%;
      margin-top: 42px;
}

.card-items {
      display: flex;
      flex-direction: column;
      height: 259px;
      padding-left: 8.16%;
      padding-right: 8.16%;
      margin-top: 40px;

      background: #FFFFFF;
      box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
      border-radius: 15px;
}

.first-item {
      background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      border-radius: 15px;
      height: 120px;
      padding-left: 8.16%;
      padding-top: 24px;
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
      color: #FFFFFF;
}

.icon-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 56px;
      width: 56px;
      background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      border-radius: 50%;
      margin-top: -25px;
}

.item-header {
      font-weight: 800;
      font-size: 20px;
      color: #13183F;
      margin-top: 24px;
}

.item-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #83869A;
      margin-top: 16px;
}

.item-link {
      margin-top: 24px;
      font-weight: 700;
      font-size: 18px;
      color: #F74780;
      text-decoration: none;
}

.item-link:hover {
      color: #FFA7C3;
}

/* FOOTER - 375 px*/

footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4.26%;
      padding-right: 4.26%;
      height: 120px;
      background: #13183F;
      margin-top: 80px;
}

.footer-text {
      font-weight: 800;
      font-size: 28px;
      color: #ffffff;
}

.footer-btn {
      width: 140px;
      height: 48px;
      background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
      border-radius: 28px;

      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;
}

.footer-btn:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
      cursor: pointer;
}



/* TABLET */
@media screen and (min-width: 768px) {

      /* HEADER - 768px */

      header {
            padding-left: 5.07%;
            padding-right: 5.07%;
            padding-top: 24px;
      }

      .section-one {
            flex-direction: row;
            height: 420px;
            margin-right: 0;
      }

      /* SECTION ONE - 768 px */

      .section-one-info {
            width: 50%;
      }


      .section-one-img {
            width: 50%;
            background: url(./img/image-hero-tablet.png);
            background-position: right -274px bottom -91px;
            background-repeat: no-repeat;
            margin: 0;
            height: 100%;
      }

      /* SECTION TWO - 768 px */

      .section-two {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 5.07%;
            margin-right: 5.07%;
      }


      .card-items {
            height: 259px;
            padding-left: 32px;
            padding-right: 22px;
            margin-top: 40px;
            margin-left: 0;
            margin-right: 2%;
            flex-basis: 40%;
            background: #FFFFFF;
            box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
            border-radius: 15px;
      }

      .first-item {
            background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
            border-radius: 15px;
            height: 259px;
            padding-top: 0;
            justify-content: center;

      }


}

/* DESKTOP */
@media screen and (min-width: 1440px) {


      /* HEADER - 1440px */

      header {
            padding-left: 11.51%;
            padding-right: 11.51%;
      }

      .header-text {
            font-size: 36px;
      }

      .header-btn {
            width: 167px;
            height: 56px;
            font-size: 18px;
      }

      /* SECTION ONE - 1440px*/

      .section-one {
            margin-left: 11.51%;
            margin-top: 0;
            height: 757px;
      }

      .section-one-info {
            width: 40%;
      }

      .info-heading {
            margin-top: 186px;
            font-size: 56px;
            line-height: 71px;
      }

      .info-text {
            font-size: 18px;
            line-height: 28px;
            margin-top: 29px;
      }

      .info-btn {
            height: 63px;
            font-size: 18px;
      }

      .section-one-img {
            width: 60%;
            background: url(./img/image-hero-desktop.png);
            background-position: right -316px bottom 18px;
            background-repeat: no-repeat;
            overflow: visible;
      }

      /* SECTION TWO - 1440px */

      .section-two {
            margin-left: 11.51%;
      }

      .card-items {
            flex-basis: 25.33%;
            height: 322px;
      }

      .item-header {
            font-size: 24px;
      }

      .item-text {
            font-size: 18px;
            line-height: 28px;
      }

      .item-link {
            font-size: 18px;
      }

      .first-item {
            font-size: 32px;
            line-height: 40px;
      }

      /* FOOTER - 1440 px */
      footer {
            padding-left: 11.51%;
            padding-right: 11.51%;
      }

      .footer-btn {
            font-size: 18px;
      }

      .footer-text {
            font-size: 36px;
      }

}